{% extends 'base.html' %}
{% load static %}

{% block title %}ثبت نام در سایت{% endblock %}

{% block content %}

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="my-3 text-center">عضویت در سایت</div>
                            <form class="" method="post">
                                {% csrf_token %}
                                <div class="field">
                                    <i class="fa fa-code"></i>
                                    {{ form.code }}
                                </div>

                                <div class="my-3">
                                    <button type="submit" class="btn custom-btn w-100">ارسال</button>
                                </div>
                                <div class="pb-2 border-bottom">
                                    <span class="small">حساب کاربری دارید؟</span>
                                    <a href="{% url 'accounts:login' %}" class="small">
                                        ورود به حساب
                                    </a>
                                </div>
                            </form>


                            <div class="">
                                <p class="small text-center my-3">عضویت از طریق حساب‌های کاربری دیگر</p>
                                <div class="">

                                    <div class="social-accunt">

                                        <a title="Google" class="" href="">
                                            <img height="24" src="assets/image/google.svg" class="d-block m-auto">
                                        </a>

                                        <a title="GitHub" class="" href="">
                                            <img height="24" src="assets/image/github.svg" class="d-block m-auto">
                                        </a>

                                        <a title="LinkedIn" class="" href="">
                                            <img height="24" src="assets/image/linkedin.svg" class="d-block m-auto">
                                        </a>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock %}